*.iml
.gradle
gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.tmp
.DS_Store
caches
.tmp
/build
/caches
/wrapper
/app/release
/captures
.externalNativeBuild
/app/build
/native
*.apk